{% comment %}
  Renders button
  Accepts:
  link: {Object} Button link
  label: {Object} Button label
  style: {Object} Button style
  class: {String} Class (optional)
  border_color: {String} Border color (optional)
  button_color: {String} Button color override (optional)
  Usage:
  {% render 'button', link: section.settings.button_link, label: section.settings.button_label, style: section.settings.button_style, class: '', border_color: '#ff0000', button_color: '#00ff00' %}
{% endcomment %}
{%- liquid
  # Set theme color (can be overridden by button_color parameter)
  if button_color != blank
    assign theme_color = button_color
  else
    assign theme_color = settings.colors_accent_1 | default: settings.accent_color
  endif
-%}
<a
  {% if link != blank %}
    href="{{ link }}"
  {% endif %}
  class="{% if class %}{{ class }}__button{% endif %} button button--{{ style }} {% if style == 'simple' or style == 'simple_secondary' or style == 'simple_link' %}button--arrow{% endif %} {% if full_link %} button--full-link {% endif %} focus-inset"
  {% if style == 'primary' or style == 'secondary' or border_color != blank %}
    style="
      {% if style == 'primary' %}background-color: {{ theme_color }}; border: 2px solid {{ theme_color }};{% endif %}
      {% if style == 'secondary' %}background-color: transparent; border: 2px solid {{ theme_color }}; color: {{ theme_color }};{% endif %}
      {% if border_color != blank %}border-color: {{ border_color }};{% endif %}
    "
    {% if style == 'secondary' %}
      onmouseover="this.style.backgroundColor='{{ theme_color }}'; this.style.color='#ffffff';"
      onmouseout="this.style.backgroundColor='transparent'; this.style.color='{{ theme_color }}';"
    {% endif %}
  {% endif %}
  {% if link == blank %}
    aria-disabled="true"
  {% endif %}
>
  {% if style == 'simple' or style == 'simple_secondary' or style == 'simple_link' or style == 'tertiary' %}
    <span>{{ label }}</span>
    {% render 'icon-button-arrow' %}
  {% else %}
    {{ label }}
    <span class="pl-0.5">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 20 21" fill="currentColor" style="margin-left: 0.5rem; vertical-align: middle;">
        <path d="M0 10.5C0 13.1522 1.05357 15.6957 2.92893 17.5711C4.8043 19.4464 7.34784 20.5 10 20.5C12.6522 20.5 15.1957 19.4464 17.0711 17.5711C18.9464 15.6957 20 13.1522 20 10.5C20 7.84784 18.9464 5.3043 17.0711 3.42893C15.1957 1.55357 12.6522 0.5 10 0.5C7.34784 0.5 4.8043 1.55357 2.92893 3.42893C1.05357 5.3043 0 7.84784 0 10.5ZM9.41406 15.2266C9.04688 15.5938 8.45312 15.5938 8.08984 15.2266C7.72656 14.8594 7.72266 14.2656 8.08984 13.9023L11.4883 10.5039L8.08984 7.10547C7.72266 6.73828 7.72266 6.14453 8.08984 5.78125C8.45703 5.41797 9.05078 5.41406 9.41406 5.78125L13.4766 9.83594C13.8438 10.2031 13.8438 10.7969 13.4766 11.1602L9.41406 15.2266Z"/>
      </svg>
    </span>
  {% endif %}
</a>
