{{ 'landing-welcome.css' | asset_url | stylesheet_tag }}

{% assign default_bg = 'landing-welcome-bg.jpg' | asset_url %}
{% assign default_bg_mobile = 'landing-welcome-bg-mob.jpg' | asset_url %}

{% if section.settings.background_image != blank %}
  {% assign bg_image = section.settings.background_image | image_url: width: 1920 %}
{% else %}
  {% assign bg_image = default_bg %}
{% endif %}

{% if section.settings.background_image_mobile != blank %}
  {% assign bg_image_mobile = section.settings.background_image_mobile | image_url: width: 780 %}
{% else %}
  {% assign bg_image_mobile = default_bg_mobile %}
{% endif %}

<style>
  .welcome {
    background-image: url('{{ bg_image }}');
    @media (max-width: 680px) {
      background-image: url('{{ bg_image_mobile }}');
    }
  }
</style>

<article class="welcome">
  <div class="welcome-wrapper">
    <div class="welcome-title-wrapper">
      <p class="welcome-subtitle">
        {{ section.settings.subtitle }}
      </p>
      <h1 class="welcome-title">
        {{ section.settings.title }}
      </h1>
      <p class="welcome-title-bottom">
        {{ section.settings.title_bottom }}
      </p>
      <p class="welcome-description">
        {{ section.settings.description }}
      </p>
    </div>

    <div class="welcome-bundle">
      <p class="welcome-bundle-title">
        {{ section.settings.bundle_title }}
      </p>

      <ul class="welcome-bundle-list">
        {% for block in section.blocks %}
          <li class="welcome-bundle-item{% if block.settings.best_deal %} best-deal-bundle{% endif %}">
            <h3 class="welcome-bundle-item-title">{{ block.settings.title }}</h3>

            {% if block.settings.image != blank %}
              <img
                class="welcome-bundle-image"
                src="{{ block.settings.image | image_url }}"
                width="100%"
                height="auto"
                alt="{{ block.settings.title }}">
            {% else %}
              {% assign default_images = 'landing-welcome-bundle-1.png,landing-welcome-bundle-2.png,landing-welcome-bundle-3.png' | split: ',' %}
              {% assign image_index = forloop.index0 %}
              <img
                class="welcome-bundle-image"
                src="{{ default_images[image_index] | asset_url }}"
                width="100%"
                height="auto"
                alt="{{ block.settings.title }}">
            {% endif %}

            <div class="welcome-bundle-price">
              <span class="welcome-bundle-price-old">
                {{ block.settings.price_old }}
              </span>
              <span class="welcome-bundle-price-new">
                {{ block.settings.price_new }}
              </span>
              <span class="welcome-bundle-price-save">
                {{ block.settings.price_save }}
              </span>
            </div>

            <div class="welcome-bundle-inc">
              <p class="welcome-bundle-inc-title">
                {{ block.settings.inc_title }}
              </p>
              <div class="welcome-bundle-inc-list">
                {{ block.settings.inc_items }}
              </div>
            </div>

            <button class="welcome-bundle-btn btn btn-with-arrow">
              ADD TO CART
              {% render 'icon-rigth-arrow' %}
            </button>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</article>

{% schema %}
  {
    "name": "Landing Welcome",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "background_image_mobile",
        "label": "Background Image Mobile"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "WELCOME TO"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "DRUM SCHOOL"
      },
      {
        "type": "text",
        "id": "title_bottom",
        "label": "Title Bottom",
        "default": "Get a free QuietPad, Sticks, and PadStand when you join Drumeo."
      }, {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Whether you're brand new to the kit, coming back after some time away, or looking to level up your skills, you'll find the perfect deal with Drumeo's Back to School Sale."
      }, {
        "type": "header",
        "content": "Bundle"
      }, {
        "type": "text",
        "id": "bundle_title",
        "label": "Bundle Title",
        "default": "Choose the bundle that's best for you:"
      }
    ],
    "blocks": [
      {
        "type": "bundle",
        "name": "Bundle",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "The Essentials Bundle"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "price_old",
            "label": "Price Old",
            "default": "$74"
          },
          {
            "type": "text",
            "id": "price_new",
            "label": "Price New",
            "default": "$59"
          }, {
            "type": "text",
            "id": "price_save",
            "label": "Price Save",
            "default": "Save 25%"
          }, {
            "type": "text",
            "id": "inc_title",
            "label": "Inc Title",
            "default": "What is included:"
          }, {
            "type": "richtext",
            "id": "inc_items",
            "label": "Inc Items",
            "default": "<p>Quiet Pad</p><p>Drumsticks</p><p>Free US Shipping</p>"
          }, {
            "type": "checkbox",
            "id": "best_deal",
            "label": "Best Deal",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}